doctype html
html(lang="en")
  head
    title= pageTitle
    link(href='./style.css', rel='stylesheet', type='text/css')
    script(type='text/javascript').
            var args = !{JSON.stringify(data)}
  body



script(src='/socket.io/socket.io.js')
script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
script(src='./index.js')



